@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

/* Marquee styling */
.slidingImage {
  width: 400px;
  height: 350px;
  object-fit: cover;
  border-radius: 40px;
  float: left;
  margin: 0px 20px;
  position: relative;
}

.corousal {
  margin-top: -40px;
  display: flex;
}

/* Demo section styling */
.demoSection {
  padding: 20px;
  margin-top: 100px;
}

.subtitle {
  margin-left: 200px;
}

.demoHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.demoTitle {
  font-size: 35px;
  font-weight: 700;
  color: rgb(114, 54, 246);
}

.horizontalLine {
  border-top: 3px solid #878585;
  margin: -20px 0;
}

.demoSubTitleContainer {
  margin: -4px 50px;
  padding: 8px;
}

.demoSubTitle {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
}

.demoAction {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  gap: 10px;
}

.demoAction .demoActionItems {
  font-weight: 650;
  display: inline-block;
  text-align: center;
  width: 200px;
  height: 50px;
  padding: 10px;
  transition: background 0.5s, transform 0.5s;
  cursor: pointer;
}

.demoAction .demoActionItems:hover {
  background: #ff004f;
  border: none;
  border-radius: 8px;
  transform: translateY(-10px);
}

.demoAction .demoActionItems:active {
  background: rgb(49, 74, 236);
  border: none;
  border-radius: 8px;
}

/* Before and After image slider styling */
.demoImgContainer {
  width: 800px;
  height: 900px;
  position: relative;
  margin: 20px;
}


.demoImgSection {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* steps to edit images styling */
.stepsSection {
  margin: 50px;
  padding: 20px;
  /* display: flex;
  flex-direction: column;*/
}

.stepsHeading {
  position: absolute;

  left: 145px;
  display: block;
  font-size: 30px;
  font-weight: 500;
  color: rgb(114, 54, 246);
}

.stepsContainer {
  margin: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 2px;
}

.steps {
  background: linear-gradient(to right top,
      #dd60f9,
      #812dee,
      rgba(118, 95, 236, 0.863),
      rgb(74, 107, 227),
      #dd60f9,
      blueviolet);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps img {
  width: 100%;
  transition: transform 0.5s;
  border-radius: 10px;
  display: block;
}

.layer {
  color: white;
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}

.steps:hover img {
  transform: scale(0.8);
}

.steps:hover .layer {
  height: 100%;
}

.footerContainer {
  width: 100%;
  height: 420px;
  color: white;
  background: linear-gradient(to right top,
      #dd60f9,
      #812dee,
      rgba(118, 95, 236, 0.863),
      rgb(74, 107, 227),
      #dd60f9,
      blueviolet);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 20px;
}

.footerLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
}

.footerLeft h1 {
  font-size: 24px;
  font-weight: 500;
}

.buttonContainer {
  display: block;
}

.button {
  border: none;
  border-radius: 10px;
  background-color: white;
  width: 140px;
  padding: 10px 26px;
  margin-top: 24px;
  color: blue;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}
