.features {
  background-color: rgba(221, 221, 216, 0.648);
  height: 1250px;
  margin-top: 90px;
  border: none;
  padding: 10px 0px;
}

.feature {
  height: 350px;
  gap: 200px;
  display: flex;
  justify-content: space-evenly;
  max-width: 95%;
  margin: 10px auto;
  padding: 42px 20px;
}

.featureReverse {
  gap: 200px;
  height: 350px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  max-width: 70%;
  margin: -60px auto;
  padding: 42px 20px;
}

.featureTag {
  font-size: 2rem;
  font-weight: 700;
}

.featureSubTag {
  max-width: 79%;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(72, 71, 71);
  margin: 10px 0px;
}

.thumbnail {
  height: 100%;
  width: 100%;
}

.featureLeft {
  padding: 30px;
  width: 650px;
  margin-right: -250px;
}

.featureRight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnailContainer {
  border-radius: 2px;
  overflow: hidden;
  height: 50vh;
}

.thumbnailContainerLast {
  border-radius: 2px;
  overflow: hidden;
  height: 38vh;
  width: 25vw;
}
