.editHeroSection {
  padding-left: 34px;
  gap: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  height: 100vh;
}

.editHeroSection::before {
  content: "";
  background: linear-gradient(
      to right top,
      #dd60f9,
      #812dee,
      rgba(118, 95, 236, 0.863),
      rgb(74, 107, 227),
      #dd60f9,
      blueviolet
    )
    no-repeat center center/cover;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.heroLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  animation: slideFromLeft 1s ease forwards;
  opacity: 0;
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.tag {
  margin: 12px 40px;
  font-size: 40px;
  font-weight: 700;
  color: white;
}

.subTag {
  font-size: 25px;
  font-weight: 500;
  padding-left: 40px;
  color: white;
}

.getStartedBtn .getStarted {
  border: none;
  border-radius: 10px;
  background-color: white;
  width: 140px;
  padding: 10px 26px;
  margin-top: 14px;
  color: #812dee;
  cursor: pointer;
}

.getStartedBtn {
  position: absolute;
  bottom: -50px;
  left: 40px;
  width: 150px;
}

.getStarted:hover {
  opacity: 0.8;
}

.heroImageContainer {
  overflow: hidden;
  height: 80vh;
  padding: 0px 18px;
}

.heroImage {
  height: 100%;
  width: 100%;
}

.circleBottom {
  position: absolute;
  bottom: -20px;
  left: 50px;
  background-color: rgba(207, 118, 252, 0.2);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  z-index: -1;
}

.circleTop {
  position: absolute;
  top: 70px;
  left: 600px;
  background-color: rgba(207, 118, 252, 0.6);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  z-index: -1;
}

.circleTopLeft {
  position: absolute;
  top: 80px;
  left: 60px;
  background-color: rgba(207, 118, 252, 0.3);
  height: 150px;
  width: 150px;
  border-radius: 50%;
  z-index: -1;
}

.circleBottomRight {
  position: absolute;
  bottom: -45px;
  left: 600px;
  background-color: rgba(207, 118, 252, 0.3);
  height: 150px;
  width: 150px;
  border-radius: 50%;
  z-index: -1;
}
